.todo-list{
    list-style: none;
    display: flex;align-items: center;
}
.list{
    width: 75%;
    margin: 10px 0;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background: rgb(13, 184, 13);
    color:rgba(7, 120, 82, 0.749);
    font-weight: 900;
}
.del-ed{
    padding: 6px;
    border-radius: 5px;
    margin-left: 5px;
    background: rgba(10, 15, 164, 0.861);

}